* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#hero {
  display: flex;
  width: 540px;
  padding-top: 16px;
  padding-bottom: 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;

}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 {
  color: #3F3D56;
  margin-bottom: 32px;
  font-size: 32px;
  font-family: Dosis;
}

.dif {
  color: #3F3D56;
}

span {
  color: #EE24FF;
}

p,
#footer {
  color: #7d7987;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
}
#footer {
  margin-bottom: 30px;
}
#footer a+a {
  margin-left: 28px;
  
}

.line {
  width: 568px;
  height: 0;
  margin: auto;
  border: 1px solid #ECEFF2;
}

#footer a {
  color: #3F3D56;
  font-weight: 700;
  color: #3F3D56;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 147.682%;
  text-decoration: none;

}
.base {
  position: relative;

}